<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inh3rit.financial.dao.SecurityMapper">
  <resultMap id="BaseResultMap" type="org.inh3rit.financial.model.Security">
    <id column="security_code" jdbcType="VARCHAR" property="securityCode"/>
    <result column="security_name_abbr" jdbcType="VARCHAR" property="securityNameAbbr"/>
    <result column="trade_market_code" jdbcType="VARCHAR" property="tradeMarketCode"/>
    <result column="trade_market" jdbcType="VARCHAR" property="tradeMarket"/>
    <result column="security_type_code" jdbcType="VARCHAR" property="securityTypeCode"/>
    <result column="security_type" jdbcType="VARCHAR" property="securityType"/>
    <result column="publish_name" jdbcType="VARCHAR" property="publishName"/>
  </resultMap>
  <sql id="Base_Column_List">
    security_code, security_name_abbr, trade_market_code, trade_market, security_type_code, 
    security_type, publish_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from security
    where security_code = #{securityCode,jdbcType=VARCHAR}
  </select>
  <select id="selectAllSecurityCode" resultType="java.lang.String">
    select security_code
    from security
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete
    from security
    where security_code = #{securityCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.inh3rit.financial.model.Security">
    insert into security (security_code, security_name_abbr, trade_market_code,
                          trade_market, security_type_code, security_type,
                          publish_name)
    values (#{securityCode,jdbcType=VARCHAR}, #{securityNameAbbr,jdbcType=VARCHAR}, #{tradeMarketCode,jdbcType=VARCHAR},
            #{tradeMarket,jdbcType=VARCHAR}, #{securityTypeCode,jdbcType=VARCHAR}, #{securityType,jdbcType=VARCHAR},
            #{publishName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.inh3rit.financial.model.Security">
    insert into security
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="securityCode != null">
        security_code,
      </if>
      <if test="securityNameAbbr != null">
        security_name_abbr,
      </if>
      <if test="tradeMarketCode != null">
        trade_market_code,
      </if>
      <if test="tradeMarket != null">
        trade_market,
      </if>
      <if test="securityTypeCode != null">
        security_type_code,
      </if>
      <if test="securityType != null">
        security_type,
      </if>
      <if test="publishName != null">
        publish_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="securityCode != null">
        #{securityCode,jdbcType=VARCHAR},
      </if>
      <if test="securityNameAbbr != null">
        #{securityNameAbbr,jdbcType=VARCHAR},
      </if>
      <if test="tradeMarketCode != null">
        #{tradeMarketCode,jdbcType=VARCHAR},
      </if>
      <if test="tradeMarket != null">
        #{tradeMarket,jdbcType=VARCHAR},
      </if>
      <if test="securityTypeCode != null">
        #{securityTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="securityType != null">
        #{securityType,jdbcType=VARCHAR},
      </if>
      <if test="publishName != null">
        #{publishName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="batchInsert">
    insert into security(security_code, security_name_abbr, trade_market_code, trade_market, security_type_code,
    security_type, publish_name)
    values
    <foreach collection="securities" item="item" separator=",">
      (#{item.securityCode}, #{item.securityNameAbbr}, #{item.tradeMarketCode}, #{item.tradeMarket}, #{item.securityTypeCode},
      #{item.securityType}, #{item.publishName})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.inh3rit.financial.model.Security">
    update security
    <set>
      <if test="securityNameAbbr != null">
        security_name_abbr = #{securityNameAbbr,jdbcType=VARCHAR},
      </if>
      <if test="tradeMarketCode != null">
        trade_market_code = #{tradeMarketCode,jdbcType=VARCHAR},
      </if>
      <if test="tradeMarket != null">
        trade_market = #{tradeMarket,jdbcType=VARCHAR},
      </if>
      <if test="securityTypeCode != null">
        security_type_code = #{securityTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="securityType != null">
        security_type = #{securityType,jdbcType=VARCHAR},
      </if>
      <if test="publishName != null">
        publish_name = #{publishName,jdbcType=VARCHAR},
      </if>
    </set>
    where security_code = #{securityCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.inh3rit.financial.model.Security">
    update security
    set security_name_abbr = #{securityNameAbbr,jdbcType=VARCHAR},
        trade_market_code  = #{tradeMarketCode,jdbcType=VARCHAR},
        trade_market       = #{tradeMarket,jdbcType=VARCHAR},
        security_type_code = #{securityTypeCode,jdbcType=VARCHAR},
        security_type      = #{securityType,jdbcType=VARCHAR},
        publish_name       = #{publishName,jdbcType=VARCHAR}
    where security_code = #{securityCode,jdbcType=VARCHAR}
  </update>
</mapper>